body {
    background-color: gray;
    color: white;
    font-size: ;
}

h1,
h2 {
    color: #99ceff;
}

strong {
    color: yellow;
}

a {
    color: red;
}

.link {
    text-decoration: none;
}

.drop-cap {
    font-size: 24px;
}